
header .row{
	display: flex;
	align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
	padding: 10px 10px;
}

.btn.btn-primary {
	justify: right;
}

#chem {
	width: 50%;
	border: 2px solid red;
	border-radius: 25px;
}

#webDev {
	width: 50%;
}

.jumbotron h2, p{
	padding-left: 40px;
}

