.container {
	
}

header .row{
	display: flex;
	align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
	padding: 10px 10px;
}

.btn.btn-primary {
	justify: right;
}

img{
	width: 75%;
}

#webDev {
	padding-left: 20px;
}

.jumbotron h2, p{
	padding-left: 40px;
}