
header .row{
	display: flex;
	align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
	padding: 10px 10px;
}

#webButton, #chemButton {
	padding-left: 30px;
}



.btn.btn-primary {
	width: 50%
}

#chem {
	width: 300px;
	height: 250px;
	border: 2px solid black;
	border-radius: 25px;
}

#webDev{
	width: 300px;
	height: 250px;
	border: 2px solid white;
	border-radius: 25px;
}


.jumbotron h2, p{
	padding-left: 40px;
}

